@import '../base/mapas';
$colores:
antiquewhite,/*background body*/
#ac9462, /*background nav*/
#42371e,/*nav secction*/
#0d6efd, /*botones*/
#000;

// mapa
body{
    background-color: map-get($cliente-vip, body-bg-vip);
}

.footer,
.colornav,
.header{
    background-color: nth($colores,2);
}

.colornav-header,
.colornav2,
.titulo-header{
 background-color: nth($colores,3);
}

@media only screen and (max-width: 480px) and (min-width: 281px) and (orientation:portrait) {
    .dropdown-menu{
        background-color: nth($colores,3);
    }
}
.colornav2,
.titulo-header,
.navfooter{
    color:nth($colores,5)
}